* {
    font-family: Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: digital-7;
    src: url(fonts/digital-7/digital-7.ttf);
}  
body {
    background-color: #1b244a;
}
.container {
    display: flex;
    justify-content: space-around;
}
.container .box {
    display: inline-block;
    min-width: 12rem;
    text-align: center;
}
h3.team-name {
    color: #eeeeee;
    text-align: center;
    font-size: 2.5rem;
    margin: 40px auto 10px;
}
.screen {
    background-color: #000;
    color: #f94f6d;
    font-family: digital-7;
    padding: 10px;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    border-radius: 9px;
}
.btn {
    background-color: transparent;
    outline: none;
    border: 2px solid #9aabd8;
    border-radius: 4px;
    margin: 10px 3px;
    color: #9aabd8;
    padding: 5px;
    font-family: digital-7;
    min-width: 25px;
}